<html ng:app="app">
	<head>
		<script type="text/javascript" src="http://ci.angularjs.org/view/AngularJS/job/angular.js-angular-master/221/artifact/build/pkg/0.10.7-230f29d0/angular-0.10.7-230f29d0.min.js"></script>
		
		<script type="text/javascript" src="app.js"></script>
		
		<script type="text/ng-template" id="foo.html">
			<p>FOO</p>
		</script>
		
		<script type="text/ng-template" id="bar.html">
			<p>BAR</p>
		</script>
		
		<script type="text/ng-template" id="horizontal.html">
			<p>this is the horizontal layout</p>
			<table><tr><td>
				<ng:include src="templates.left" />
			</td><td>
				<ng:include src="templates.right" />
			</td></tr></table>
		</script>
		
		<script type="text/ng-template" id="vertical.html">
			<p>this is the vertical layout</p>
			<table><tr><td>
				<ng:include src="templates.top" />
			</td></tr><tr><td>
				<ng:include src="templates.bottom" />
			</td></tr></table>
		</script>
	</head>
	<body>
		<a href="#/view1">horizontal</a> | <a href="#/view2">vertical</a>
		<hr />
		<ng:include src="templates.layout" />
	</body>
</html>